{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}User test{% endblock %}

    {% block header %}
        <div id="header">
            <a href="{% url 'home' %}">User Testing for Django-registration</a> | 
            {% if user.is_authenticated %}
            Logged in: {{ user.username }} 
            (<a href="{% url 'auth_logout' %}">Log out</a> | 
            <a href="{% url 'auth_password_change' %}">Change password/a>)
            {% else %}
            <a href="{% url 'auth_login' %}">Log in</a>
            {% endif %}
            <hr />
        </div>
    {% endblock %}

    {% block content %}
        <div id="content">
            <h1>This file is in the /templates/registration folder.</h1>
        </div>
    {% endblock %}