ul.errorlist{
    margin: 0;
    padding: 0;
}
.errorlist li{
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}
#centreform{
    width: 400px;
    align:center;
    margin:0 auto;
    text-align:justify-all;
    display: inline-block;
}
input[type=file] {
    margin:0 auto;
}