{% extends 'base.html' %}
{% load staticfiles %}
{% block headimport %}
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'css/basic.css' %}" type="text/css" >
	<script src="{% static 'js/jquery-2.1.3.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>
{% endblock %}
{% block javascript %}
	$(function(){
		$('.datepicker').datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange: "1900:2030",
		});

	});
	/* $document.ready(function(){
		$(".datepicker").each(function() {
			$(this).datepicker();
		});
	}); */
{% endblock %}
{% block body %}
	<h1>Add Product</h1>
	{% block content %}
	<div style="align:center; margin:auto; text-align:center;">
	<form action="" method="post">
		{% csrf_token %}
		<div class="fieldwrapper">
			{{ form.product_name.errors }}
			<label for="{{ form.product_name.id_for_label }}">Product Name:</label>
			{{ form.product_name }}
		</div>
		<div class="fieldwrapper">
			{{ form.sellerid.errors }}
			<label for="{{ form.sellerid.id_for_label }}">Seller id:</label>
			{{ form.sellerid }}
		</div>
		<div class="fieldwrapper">
			{{ form.price.errors }}
			<label for="{{ form.price.id_for_label }}">Price:</label>
			{{ form.price }}
		</div>
		<div class="fieldwrapper">
			{{ form.selling_starts_on.errors }}
			<label for="{{ form.selling_starts_on.id_for_label }}">Selling Starts on:</label>
			{{ form.selling_starts_on }}
		</div>
		<div class="fieldwrapper">
			{{ form.selling_ends_on.errors }}
			<label for="{{ form.selling_ends_on.id_for_label }}">Selling Ends on:</label>
			{{ form.selling_ends_on }}
		</div>
		<div class="fieldwrapper">
			{{ form.despatched_from.errors }}
			<label for="{{ form.despatched_from.id_for_label }}">Product is despatched from:</label>
			{{ form.despatched_from }}
		</div>
		<div class="fieldwrapper">
			{{ form.image.errors }}
			<label for="{{ form.image.id_for_label }}">Product Image:</label>
			{{ form.image }}
		</div>
		<hr>
		{{ form.non_field_errors }}
		<input type="submit" value="Add Product">
	</form></div>
	{% endblock %}
{% endblock %}