{% load staticfiles %}
<!DOCTYPE html>
<head>
	{% spaceless %}
	{% block head %}{% endblock %}
	<title>{% block title %}Shopping Cart by Billu{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<style type='text/css'>{% block css %}{% endblock %}</style>
	<script type="text/javascript">{% block javascript %}{% endblock %}</script>
</head>
<body>
	{% block body %}
	{% block content %}{% endblock %}
	{% block footer %}
		<hr>
		<a href="/admin">Go to the admin site</a>
		<p>Thanks for visiting my site.</p>
	{% endblock %}
{% endblock %}{% endspaceless %}
</body>
</html>