{% extends 'base.html' %}
{% load staticfiles %}
    {% block header %}
        <div id="header">
            <a href="{% url 'home' %}">User Testing for Django-registration</a> | 
            {% if user.is_authenticated %}
            Logged in: <strong>{{ user.username }}</strong>
            <br/> 
            (<a href="{% url 'logout' %}">Log out</a> | 
            <a href="{% url 'auth_password_change' %}">Change password</a>)
            {% else %}
            <a href="{% url 'signin' %}">Log in</a>
            {% endif %}
            <hr />
        </div>
    {% endblock %}

{% block title %}Home of {{block.super}}{% endblock %}
{% block content %}
	<!-- Click <a href="/quiz">here</a> here to go to Technnovation Labs's Quiz -->
    <h1>This is the index page</h1>
{% endblock %}